<mat-nav-list>
    <a routerLinkActive="active" mat-list-item routerLink="/dashboard">
        <mat-icon mat-list-icon style="margin-right: 5px">dashboard</mat-icon>
        <span class="nav-link">Dashboard</span>
    </a>

    <a routerLinkActive="active" mat-list-item routerLink="/users" *ngIf="usuarioLogin.perfil == 'admin'">
        <mat-icon mat-list-icon style="margin-right: 5px">people</mat-icon>
        <span class="nav-link">Usuarios</span>
    </a>

    <a routerLinkActive="active" mat-list-item routerLink="/protocolos/areas">
        <mat-icon mat-list-icon style="margin-right: 5px">assignment</mat-icon>
        <span class="nav-link">Protocolos</span>
    </a>

    <a routerLinkActive="active" mat-list-item routerLink="/configuracion">
        <mat-icon mat-list-icon style="margin-right: 5px">tune</mat-icon>
        <span class="nav-link">Configuración</span>
    </a>

    <a routerLinkActive="active" mat-list-item (click)="onExit()">
        <mat-icon mat-list-icon style="margin-right: 5px">exit_to_app</mat-icon>
        <span class="nav-link">Salir</span>
    </a>
</mat-nav-list>