<mat-toolbar color="primary">
    <!-- <ng-container *ngIf="isAdmin === 'admin'"> -->
    <ng-container *ngIf="isAdmin">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </ng-container>
    <span class="titulo3">Sistema de calidad</span>

    <span class="spacer"></span>
    <a *ngIf="!isLogged; else viewLogout" mat-button routerLink="/login">Iniciar sesión</a>
    <!-- <a *ngIf="isAdmin === 'admin'" mat-button routerLink="/admin">Admin</a> -->
</mat-toolbar>
<ng-template #viewLogout>
    <p style="font-size: 16px; margin: auto; display: block;" *ngIf="(authSvc.user$ | async) as usuario">Hola, {{usuario.response.nombre}}</p>
    <button mat-button [matMenuTriggerFor]="logout">
        <img [src]="usuarioLogueado | imagen" (click)="ver = true" class="img-user" alt="imagen usuario">
    </button>
    <mat-menu #logout="matMenu">
        <button mat-menu-item (click)="onLogout()">
            Cerrar sesión
            <span class="spacer"></span>
            <mat-icon #div style="cursor: pointer;margin: 5px;" mat-flat-button color="#fff" 
                matTooltip="Cerrar sesión">
                power_settings_new
            </mat-icon>
        </button>
      </mat-menu>
</ng-template>